<ion-content>
    <ion-list lines="full">
        <form [formGroup]="form" (ngSubmit)="atualizarBase()">
            <ion-item>
                <ion-label position="floating"> Nome</ion-label>
                <ion-input  formControlName= "name" type="text" placeholder="Nome"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating"> Descrição</ion-label>
                <ion-input  formControlName= "description" type="text" placeholder="Descrição"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating"> Imagem link</ion-label>
                <ion-input  formControlName= "image" type="text" placeholder="Imagem"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating"> Favorito (true | false)</ion-label>
                <ion-input  formControlName= "favorite" type="text" placeholder="Favorito"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating"> Tipo</ion-label>
                <ion-input  formControlName= "types" type="text" placeholder="Tipo"></ion-input>
            </ion-item>
            <ion-row>
                <ion-col>
                    <ion-button shape="full" color="primary" type="submit" expand="block">
                        Salvar
                    </ion-button>
                </ion-col>
            </ion-row>
        </form>
    </ion-list>

</ion-content>