<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      WIP:Pokedex
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">WIP:Pokedex</ion-title>
    </ion-toolbar>
  </ion-header>

  <strong style="color:#000000; display: flex; justify-content: center;">Listagem Pokemon</strong>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-label>Avatar</ion-label>
        <ion-label>Nome</ion-label>
        <ion-label>Tipo</ion-label>
        <ion-label>Ações</ion-label>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item *ngFor="let data of pokemonList">
        <img src="{{data.image}}" alt="Avatar">
        <ion-label>{{ data.name}}</ion-label>
        <ion-label>{{ data.types}}</ion-label>
        <ion-button (click)="deletarPokemon(data.id)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
        <ion-button (click)="navigateForm(data.id)">
          <ion-icon slot="icon-only" name="pencil"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>

    <ion-list style="display: flex; justify-content: center; margin-bottom: 2vw;">
      <ion-button size="small" (click)="navigateForm()">
        Adicionar
      </ion-button>
    </ion-list>

  </ion-content>
</ion-content>